<div>
    <div class="jumbotron text-center">
        <h2 class="text-white titre1">Optimisez la satisfaction de vos clients en quelques clics</h2>
        <button type="button" class="btn btn-primary">Nos services</button>
  </div>
   </div>

<div>
  <h1 class="text-info text-center font-weight-bold mt-md" style="font-size: 80px;">Why giving us your trust?</h1>
</div>
<br><br>

<div class="row">
  <div class="text-info col-lg-4">
    <p class="text-center text_sucess"><i class="fas fa-chart-line fa-7x"></i></p>
    <h2><p class="text-center text-danger">Expertise</p></h2>
    <p class="text-center">Experience, ca fait des années, blablabla...</p>
  </div><!-- /.col-lg-4 -->
  <div class="text-info col-lg-4">
    <p class="text-center"><i class="fas fa-syringe fa-7x"></i></p>
    <h2><p class="text-center text-danger">Efficiency</p></h2>
    <p class="text-center">Resultats rapides, faciles à exploiter, blablabla...</p>
  </div><!-- /.col-lg-4 -->
  <div class="text-info col-lg-4">
    <p class="text-center"><i class="fas fa-piggy-bank fa-7x"></i></p>
    <h2><p class="text-center text-danger">Profitability</p></h2>
    <p class="text-center">Vous allez vous en mettre plein les fouilles bande de veinards (filez un billet au passage ;)</p>
  </div><!-- /.col-lg-4 -->
</div>



<div>
  <h1 class="text-warning text-center font-weight-bold mt-md" style="font-size: 80px;">They gave us their trust</h1>
</div>


<br><br><br><br><br><br><br><br><br><br>

  <section class="section section-lg pt-lg-0 mt--200">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-12">
            <div class="row row-grid">
              <div class="col-lg-4">
                <div class="card card-lift--hover shadow border-0">
                  <div class="card-body py-5">
                    <div class="icon icon-shape icon-shape-primary rounded-circle mb-4">
                    <i class="fas fa-microphone-slash"></i>                    </div>
                    <h6 class="text-primary text-uppercase">Gims consulting</h6>
                    <p class="description mt-3">It's my direction, I broke the plombs, never gave up...</p>
                    <div>
                      <span class="badge badge-pill badge-primary">sexion</span>
                      <span class="badge badge-pill badge-primary">assault</span>
                      <span class="badge badge-pill badge-primary">pouloulou</span>
                    </div>
                    <a href="#" class="btn btn-primary mt-4">Visit website</a>
                  </div>
                </div>
              </div>
              <div class="col-lg-4">
                <div class="card card-lift--hover shadow border-0">
                  <div class="card-body py-5">
                    <div class="icon icon-shape icon-shape-danger rounded-circle mb-4">
                    <i class="fas fa-place-of-worship"></i>                    </div>
                    <h6 class="text-danger text-uppercase">Churches</h6>
                    <p class="description mt-3">Thanks to SatisFaction our customers stopped running away.</p>
                    <div>
                      <span class="badge badge-pill badge-danger">accuracy</span>
                      <span class="badge badge-pill badge-danger">vision</span>
                      <span class="badge badge-pill badge-danger">success</span>
                    </div>
                    <a href="#" class="btn btn-danger mt-4">Visit website</a>
                  </div>
                </div>
              </div>
              <div class="col-lg-4">
                <div class="card card-lift--hover shadow border-0">
                  <div class="card-body py-5">
                    <div class="icon icon-shape icon-shape-info rounded-circle mb-4">
                    <i class="fas fa-space-shuttle"></i>
                    </div>
                    <h6 class="text-info text-uppercase">Nasa</h6>
                    <p class="description mt-3">SatisFaction made us know how much states like our rockets.</p>
                    <div>
                      <span class="badge badge-pill badge-info">quality</span>
                      <span class="badge badge-pill badge-info">reliability</span>
                      <span class="badge badge-pill badge-info">seriousness</span>
                    </div>
                    <a href="#" class="btn btn-info mt-4">Visit website</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>