<%= content_tag :div,
id: 'survey-form',
data: { 
    survey: survey.to_json(except: [:created_at, :updated_at]),
    question_attributes: survey.question.to_json(except: [:survey_id, :created_at, :updated_at]),
} do %>

<label>Survey Name</label>
<input type="text" v-model="survey.title"/>

<h4>Questions</h4>

<div v-for="(questions, index) in survey.question_attributes">

</div>

<button v-on:click="addQuestion">Add Question</button>

<% end %>