<% if @survey.user_id == current_user.id %>
<section class="py-5 bg-secondary" style="min-height: 84%">
	<h1 class="text-center">Edit Survey</h1>
	<%= render 'form', survey: @survey %>
</section>
<% else %>
<% controller.redirect_to root_path %>
<% end %>