<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1> Vous avez reçu un lien pour participer à l'enquête ! </h1>
  </body>
</html>

